body {
	background-color: #D6DEFF;
	min-height: 100%;
}
#game > div {
	border: 2px dotted #222;
	height: 200px;
	display: inline-block;
}
#player-left,
#player-right {
	width: 100px;
}
#player-left,
#playing-field {
	float: left;
	margin-right: 40px;
}
#playing-field {
	width: 210px;
}

#player-left img,
#player-right img {
	z-index: 2;
}

#player-left-played {
	float: left;
	z-index: 1;
}
#player-right-played {
	float: right;
	z-index: 1;
	width: 100px;
}

.counter {
	/*margin-top: 150px;*/
	text-align: center;
	font-size: 40px;
}
