body {
	background-color: #D6DEFF;
	min-height: 100%;
}
#game > div {
	border: 2px dotted #222;
	height: 200px;
	display: inline-block;
}
#player-left,
#player-right {
	width: 100px;
}
#player-left,
#playing-field {
	float: left;
	margin-right: 2em;
}
#playing-field {
	width: 200px;
}

.counter {
	text-align: center;
	font-size: 40px;
}
